<footer class="flex items-center justify-between bg-gray-100 py-5 px-16 text-xl bg-yellow-900 text-white fixed inset-x-0 bottom-0">
  <div class="uppercase font-bold ">
      Good
    <span class="text-yellow-500">
      Eats
    </span>
  </div>

  
    <div class="flex text-base">
      <div class="mx-1 text-yellow-400">Privacy Police</div>
      <div class="mx-1 text-yellow-400">Terms & Conditions</div>
      <h2 class="mx-1 text-gray-200">Copyright 2021. All rights reserved.</h2>
    </div>

  <div class="flex items-center">
    <h2 class="text-base">Connect with us:</h2>
    <div class='text-yellow-500 mx-1 text-2xl'>
      <i class="fab fa-facebook"></i>
    </div>
     <div class='text-yellow-500 mx-1 text-2xl'>
      <i class="fab fa-twitter"></i>
    </div>
    <div class='text-yellow-500 mx-1 text-2xl'>
      <i class="fab fa-linkedin"></i>
    </div>
  </div>
  
</footer>