@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.sado {
  margin-top: 20px;
  border-bottom: 1px solid orange;
}

.dark {
  filter: brightness(50%);
}

.acid a:visited {
  color: white;
}

.lamo {
  min-height: calc(100vh - 136px);
}
